<form class="full-width" [formGroup]="loginForm" (ngSubmit)="submitForm()">

    <!-- Email -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
        <mat-error *ngIf="email?.errors?.['email']">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email?.errors?.['required']">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br><br>

    <!-- Password -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="*********" formControlName="password">
        <mat-hint>Forgot Password?</mat-hint>
        <mat-error *ngIf="true">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

    <!-- Login Actions -->
    <mat-card class="action-container">
        <mat-card-actions align="end">
            <button mat-raised-button>Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </mat-card-actions>
    </mat-card>
</form>